<h1 class="text-center mt-4">Szczegóły:</h1>

<div id="<%= dom_id pet %>">
<div class="card mt-4">
<%= image_tag @pet.image if @pet.image.attached? %>
  <div class="card-body">
    <h5 class="card-title text-center"><%= pet.title %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Imię: <%=pet.title %></li>
    <li class="list-group-item">Wlaściciel: <%=pet.owner %></li>
    <li class="list-group-item">Rasa Psa: <%=pet.breed %></li>
    <li class="list-group-item">Wiek (lata): <%=pet.age %></li>
    <li class="list-group-item">Waga (kg): <%=pet.weight %></li>
    <li class="list-group-item">Szczepiony?: 
    <% if @pet.vaccinated? %>
    Tak
    <% else %>
    Nie
    <% end %>
    </li>
    <li class="list-group-item">Lekarstwa: <%=pet.medicins %></li>
    <li class="list-group-item">Karma: <%=pet.food %></li>
    <li class="list-group-item">Zameldowanie: <%=pet.date_in.strftime("%d-%m-%Y") %></li>
    <li class="list-group-item">Wymeldowanie: <%=pet.date_out.strftime("%d-%m-%Y") %></li>
    <li class="list-group-item">Opiekun: <%=pet.keeper %></li>
    <li class="list-group-item">Komentarz: <%=simple_format(pet.description) %></li>

  </ul>
  <div class="card-body">
  <div class="center-link">
  <%= link_to "Edytuj", edit_pet_path(@pet) %> |
  <%= link_to "Powrót do zameldowanych", pets_path %>
  </div>
  <div class="button-center ">
  <%= button_to "Wymelduj/Usuń", @pet, method: :delete, class: "btn btn-danger"  %>
  </div>
  </div>
</div>

</div>
