<div id="<%= dom_id pet %>">
  <p>
    <strong>Title:</strong>
    <%= pet.title %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= pet.picture %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= pet.owner %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= pet.owner_id %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= pet.age %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pet.weight %>
  </p>

  <p>
    <strong>Disease:</strong>
    <%= pet.disease %>
  </p>

  <p>
    <strong>Medicins:</strong>
    <%= pet.medicins %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= pet.food %>
  </p>

  <p>
    <strong>Date in:</strong>
    <%= pet.date_in %>
  </p>

  <p>
    <strong>Date out:</strong>
    <%= pet.date_out %>
  </p>

  <p>
    <strong>Keeper:</strong>
    <%= pet.keeper %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pet.description %>
  </p>

</div>
